version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: workplace_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: bimworkplace
      POSTGRES_PASSWORD: sEnha004
      POSTGRES_DB: bimworkplace_db
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/postgres_data:/var/lib/postgresql/data
    networks:
      - workplace_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U reloflow_user" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  workplace_network:
    driver: bridge
